body{
    background-color: white ;
    color: black ;
    margin: 0px ;
}
section.header_band { 
    margin: 10px auto;
    padding:5px  ;
    display:flex;
    justify-content:space-between;
    align-items: center;
    list-style: none;
    border-bottom: 1px  black ;
    border-radius: 10px ;
    height:  60px;
    width: 98%;
    border-bottom: solid 2px rgb(250, 250, 250) ;
}
div.name_top {
    font-family: "Kaushan Script", cursive;
    width: 30%;
    min-width: 150px;
    font-size: 170%;
    color: blue;
}
ul.barre_navigation{
    background-color:blue;
    display:flex ;
    justify-content: space-between;
    align-items: center;
    list-style-type: none ;
    font-family: 'Times New Roman', Times, serif;
    font-size: 140%;
    color: white;
    font-weight: 1000;
    width:60% ;
    min-width:300px; 
    max-width: 800px;
    height:50px ;
    margin: auto 10px  ;
    padding: 2px 25px ;
    border-radius: 18px;
}

div.bloc_pic{
    border-radius: 10px;
    display:flex ;
    text-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding-left: 0px ;
    width: 100%;
    height: 500px;
    margin: 0px auto;
}
div.message_perso{
    width: 60%;
    padding: 50px ;
    text-align: center;
}
span.hey{
    font-family: "Pacifico", cursive;
    font-style: italic;
    font-size: 500%;
    color :blue ;
    margin: auto ;
}
#Iam{
    font-family: "Kaushan Script", cursive;
    font-size: 400%;
    max-width: fit-content;
    text-align: center;
    margin: 20px 20%;
    overflow: hidden;
    white-space: nowrap;
    animation: typing_name 3s steps(25,end) infinite alternate-reverse ;
}

@keyframes typing_name {
    0% { width: 0ch;} 
    40% { width: 25ch;}
    100% { width: 25ch;}
}
#profession{
    margin: auto ;
    font-family: Georgia, Times, 'Times New Roman', serif ;
    font-style: italic;
    text-align:center;
    font-size: 250%;
}

.ma_photo{
    margin: 10%  6% 10% 5px;  
    border-radius: 50px ;
    height: 390px;
    width: 230px ;
}
h2.abt_me{
    font-family: "Kaushan Script", cursive;
    color:blue ;
    font-size: 500%;
    text-align: center;
    margin: 0px auto;
   
}
section#about_me{
    background-image: url(../images/fond_bleue.jpg);
    align-items: center;
    text-align: center;
    border-radius: 40px;
    margin: auto;
    width:99% ;
    min-width: 250px;
}
div.hobbie{
    display: flex;
    gap: 12%;
    justify-content: center;
    font-size: 120%;
}
div#passion, div#goal{
    width: 50%;
    min-width:250px ;
    max-width: 500px;
    margin:20px ;
    border-radius: 20px;
    text-align: left;
    color:white ;
    font-weight: 500 ;
    padding: 10px 10px;
}
b.specif{
    font-weight: 1500;
}
p.typ_bloc{
    margin: 0px ;
    text-align: center;
    font-family:"Yatra One" ; 
    font-weight: 1000;
    font-size: 200%;
    font-style: italic;
}
p#learn_abt_me{
    background-color: blue;
    text-align: center;
    justify-content: center;
    width: 200px;
    margin: 10px auto;
    padding:4px 2px 10px 2px ;
    border-radius: 15px;
    font-weight: 900;
}

/* style pour la barre de navigation à coté du footer*/
section.nav_bar_bottom{
   display: flex;
   background-color: blue; 
   justify-content: space-around;
   align-items: center; 
   border-radius: 20px;
   margin: 30px auto ;
   width: 98%;
   height: 65px;
   gap: 3%;

}
div.portfolio{
    font-family: "Kaushan Script", cursive;
    color: white;
    margin-left: 2%;
    font-size: 200%;
}
ul.barre_navigation_bottom {
    display:flex ;
    justify-content: space-around;
    align-items: center;
    list-style: none ;
    gap: 3%;
    width: 60%;
    color: white; 
    font-size: 180% ;
    font-weight: bolder;
    height: 100%;
}
/* Animation on hover */
ul.barre_navigation_bottom li:hover {
    background-color: rgb(0, 0, 0 ,0.3); 
    height: 65px;
    line-height: 65px ;
    white-space: nowrap ;
}