section#center_page {
    position: relative;
    height:550px;
    display: flex ;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    margin-top: 20px;
    gap: 5%;
}
h1#let_start{
    font-size: 250%;
    text-align: center;
    margin:0px ; 
}
h1#GIT {
    color: blue;
    font-size: 450%;
    text-align: center;
    margin: 10px 50px;
    font-style: italic;
    overflow: hidden;
    white-space: nowrap;
    max-width: fit-content;
    animation: typing_git 3s steps(16,end) infinite alternate-reverse;
}
@keyframes typing_git {
    0% { width: 0ch; }
    50% { width: 16ch; }
    100% { width: 16ch; }
}

div#contact_icone{
    padding-left: 27%;
    padding-right: 20%;
    display: flex ;
    gap:15% ;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}
a.logo_contact{
    border-radius: 50px;
    color:rgb(0, 0, 44) ;
    font-size: xx-large;
}
a.logo_contact:hover {
      color: blue; 
      transform: scale(1.3);
      animation: none ;
}
span#form_contact {
    background-color: white ;
    width: 60%;
    height: 30px;
    white-space: nowrap;
    font-weight: 800;
    position: absolute ;
    top: -10px;
    margin: 0px auto; 
    border-radius: 0px 0px 10px 10px;   
}
input, textarea{
    background-color: transparent;
    margin: 18px auto ;
    width: 400px; 
    height: 50px ;
    font-size: 100%;
    border: none;
    border-bottom: solid 2px white ;
    padding-left: 20px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
} 
form {
    margin-top: 20px;
        color: white;

}
div#formulaire {
    background-image: url(../images/fond_bleue.jpg);
    backdrop-filter: blur(20px);
    position: relative ;
    display: flex ;
    align-items: center;
    justify-content: center;
    outline: none ;
    text-align: center;
    width: 35%; 
    margin-right: 50px;
    padding-top: 20px;
    height: 500px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri ;
    font-weight:100;
    font-size: 140%;
    border-radius: 40px;

}
input:focus , textarea:focus {
    outline: none;
}

input#genre {
    width: 20px;
    height: 20px;
    color: white;
}
p.sexe {
    color: white;
    font-size: 80%;
    display: inline ;
    transition: font-size 0.5s ease ;
}
p.sexe:hover {
    font-size: x-large;
}
input#submit {
    font-size: 120%;
    font-family: cursive;
    font-weight: 1000;
    color: white;
    height: 45px;
    background-color: blue ;
    width: 230px;
    border: none ;
    border-radius: 20px;
    margin-top: 0px;
    transition: all 0.5s ease ;
}
input#submit:hover {
    width: 350px ;
    font-size: 150%;
}
label{
    position:absolute ;
    text-align: left;
    color: rgba(255, 255, 255, 0.852) ;
    top: 35px;
    left: 5px ;
    transition : all 0.3s ease ;
    

}
label.messag {
    position: absolute ;
    top:60px ;
    left: 5px;
    transition: all 0.5s ease ;
}
textarea:focus + label,
textarea:not(:placeholder-shown) + label  {
    transform: translateY(-70px); 
    font-size: 95%;
    color: rgba(240, 255, 255, 0.5);
}
input:focus + label,
input:not(:placeholder-shown) + label  {
  transform: translateY(-40px); 
  font-size: 95%;
  color: rgba(240, 255, 255, 0.5);
}

section#footer{
    background-color: rgb(3, 4, 15);
    height: 320px ;
    color:white ;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 30px;
    margin-top: 30px;
}
h1#name_foot{
    font-family: "Caprasimo", serif;
    font-style:italic ;
    font-weight: 100;
    font-size: 300%;
    margin:0px ;
}
h2#specialite{
    margin:0px ;
    font-size:200% ;
    font-style: italic;
    color: blue;
}
.contact_me{
    font-family: 'Times New Roman', Times, serif , monospace ;
    font-size: 300%;
    overflow: hidden ;
    white-space: nowrap ;
    margin: 30px auto;
    margin-bottom: 0px;
} 
div.alert {
    position: absolute ;
    top:70px ;
    right: 570px;
    background-color:bisque;
    font-size: 140%;
    width: 32%;
    padding: 5px 15px 5px 15px;
    border-radius: 20px 20px 20px 20px;
    color: white;
    transition: opacity 1s;
}
div.alert.fade-out {
    opacity: 0 ;
}
span.close_alert {
    position: absolute;
    top: -10px ;
    right: 15px;
    font-size: 200%;
    font-weight: bolder;
    cursor: pointer;
    color: white;
}
.alert.success {
    background-color: rgb(22, 138, 22);
;
}
.alert.fail {
    background-color: rgb(238, 32, 32) ;
}