section#footer{
    background-color: rgb(3, 4, 15);
    height: 300px ;
    color:white ;
    display: flex;
    flex-direction: column;
    text-align: center;
}
h1#name_foot{
    font-family: "Caprasimo", serif;
    font-style:italic ;
    font-weight: 100;
    font-size: 300%;
    margin:0px ;
}
h2#specialite{
    margin:0px ;
    font-size:200% ;
    font-style: italic;
    color: blue;
}
div#contact_icone{
    padding-left: 27%;
    padding-right: 20%;
    display: flex ;
    gap:15% ;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}
a.logo_contact{
    border-radius: 50px;
    color:aliceblue ;
    font-size: xx-large;
}

@keyframes bounce{
    0%, 20%, 50%, 80%, 100% { transform: translateY(0); } 
    40% { transform: translateY(-15px); }
    60% { transform: translateY(-7px); }
}
a#logo_mail {
    animation: 6s bounce 20s infinite ease-in-out ;
}
@keyframes beat_fade {
    0% , 100% { transform:scale(1);}
    50% {transform: scale(1.3); } 
    
}
a#logo_whatsapp{
    animation: 6s beat_fade 20s infinite ease-in-out ;
}
@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }
  40% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
a#logo_IG {
    animation: 6s flip 20s infinite ;
}
a.logo_contact:hover {
      color: blue; 
      transform: scale(1.3);
      animation: none ;
}
.contact_me{
    font-family: 'Times New Roman', Times, serif , monospace ;
    font-size: 200%;
    overflow: hidden ;
    white-space: nowrap ;
    /*animation: 6s beat_fade 0s infinite ease-in-out ;*/

    /*animation: typing 3s steps(22)  infinite alternate-reverse  ;*/
}
@keyframes typing {
    from { width: 0ch ; }
    to { width: 22ch ;}
}